In [3]:
import pandas as pd

df = pd.read_csv('..\data\questionario_assertivas.csv', delimiter=';')

In [4]:
df.head(3)

,P1,P10,P2,P13,P4,P5,P7,P15,P17,P21,...,P37,P38,P39,P40,P35,P14,P27,P29,P33,P43
0,6,3,4,5,4,6,5,5,5,6,...,6,5,5,4,4,5,6,5,5,2
1,3,6,4,4,5,4,3,5,5,7,...,3,2,4,6,5,6,1,7,5,4
2,7,7,1,6,7,4,5,7,7,7,...,7,5,7,7,7,7,4,7,7,7